schemaVersion=1
appHost=versorgungs-kompass.de
targetRevision=REPLACE_WITH_EXACT_INTEGRATED_TARGET_REVISION
initialCutoverAttestationSha256=REPLACE_WITH_SHA256
closedAttestationSha256=REPLACE_WITH_SHA256
closedDeploymentAttestationSha256=REPLACE_WITH_SHA256
persistenceContractSha256=REPLACE_WITH_SHA256
backupSnapshotId=REPLACE_WITH_FULL_RESTIC_SNAPSHOT_ID
restoreResultSha256=REPLACE_WITH_SHA256
identityAuditSha256=REPLACE_WITH_SHA256
approvedAt=REPLACE_WITH_CURRENT_UTC_TIMESTAMP
